

<div class="demo">
  <div class="content">
    <div id="large-header" class="large-header">
      <canvas id="demo-canvas"></canvas>
        <h1 class="main-title"><span class="thin">About </span> Agent</h1>



			<div class="container">
				<strong class="gosenter lefting bottoming">
					<h4>プログラミンングに関する全てをここに！</h4>
				</strong>
				<p class="gosenter lefting">プログラミングの言語別に、分からないところを探せたり、覚えたものを投稿できるWEBアプリケーションです。</p>
				<p class="gosenter lefting">エンジニア登録をすることによって、記事の投稿が可能になります。またこのアプリを通じて、求人を探したり、仕事のオファーをもらう事も可能です。</p>
			</div>



	</div>
  </div>
</div>


<div class="container toping showtime">

	<h2>function</h2>

	<div class="row bottoming">
    	<div class="col-2 offset-2">
		    <strong>・検索機能</strong>
		</div>
		<div class="col-8 showtime">
			<p></p>
			<p>記事やヘルプの検索ができます。検索し、いいねやコメントをしましょう!!!</p>
			<p>また、記事のいいね順のランキンングページもあります。</p>
		</div>
	</div>

    <div class="row bottoming">
    	<div class="col-2 offset-2">
		    <strong>・いいね(ブックマーク)機能</strong>
		</div>
		<div class="col-8 showtime">
			<p></p>
			<p>いいね！と思った記事や保存しておきたい記事などは、いいねボタンを押すと、マイページで保存することができます。</p>
			<p>Agentのレベルアップにも繋がりますので、積極的に、いいねをお願い致します</p>
		</div>
	</div>

    <div class="row bottoming">
    	<div class="col-2 offset-2">
		    <strong>・ヘルプ機能</strong>
		</div>
		<div class="col-8 showtime">
			<p></p>
			<p>プログラミングに関連する知識の共有の場を提供しております。</p>
			<p>調べても分からない問題をヘルプ機能を通じて質問し、</p>
			<p>Agentがコメントをして、問題を解決に導く機能となっております。</p>
			<p>さらにはAgentとのチャットルームもあり、</p>
			<p>理解しにくい問題に対しては、チャットルームで質問することも可能です。</p>
		</div>
	</div>

	<div class="row bottoming">
    	<div class="col-2 offset-2">
		    <strong>・Agent登録機能</strong>
		</div>
		<div class="col-8 showtime">
			<p>プロフィール画像や自己紹介文をを登録することができます。</p>
			<p>また、現在のプログラミングに関するスキルや年数、実績を登録することができます。</p>
			<p>さらに、Agent登録で下記の機能が追加されます。</p>
		</div>
	</div>

	<div class="row bottoming">
    	<div class="col-2 offset-2">
		    <strong>・記事投稿機能</strong>
		</div>
		<div class="col-8 showtime">
			<p>自分の記事を投稿することができます</p>
			<p>良い記事を作って、いいね！をもらいましょう</p>
		</div>
	</div>

	<div class="row bottoming">
    	<div class="col-2 offset-2">
		    <strong>・求人・マーク機能</strong>
		</div>
		<div class="col-8 showtime">
			<p>企業や求人の検索をしマークをつけることが可能です。</p>
			<p>また、Agent登録時にオファーを”受け取る”を選択すれば、</p>
			<p>企業から直接オファーをもらうことも可能です。</p>
			<p>オファーをもらえば、チャットルームを開くことも可能です。</p>
			<p>Agent登録時の情報(名前、年齢、)</p>
		</div>
	</div>


	<h2>Purpose</h2>

	<div class="row bottoming">
    	<div class="col-10 offset-2">
			<p>プログラミング関連の課題を、調べても解決しない、解決するのに時間がかかるようなことが</p>
			<p>ない、WEBアプリケーションを目指します。</p>
			<p>また、全てのエンジニアが集うプラットフォームづくりを目指します！</p>
		</div>
	</div>


</div>
