

<div class='tabs'>
  <div class='tab-buttons'>
    <span class='content1'>記事</span>
    <span class='content2'>ランキング</span>
    <span class='content3'>ヘルプ</span>
    <div id='lamp' class='content1'></div>
  </div>
  <div class='tab-content'>

    <div class='content1'>
    	<div class="container toping">
			<%= render 'users/infos/infos_search', infos: @infos %>
		</div>
    </div>

    <div class='content2'>
    	<div class="container toping">
			<%= render 'users/infos/infos_search', infos: @good_infos %>
		</div>
    </div>

    <div class='content3'　id='help'>
    	<div class="container toping">
    		<%= render 'users/helps/helps_search', helps: @helps %>
		</div>
    </div>

  </div>
</div>
