


<% if follows.exists? %>

<table class="table table-hover table-sm toping">

    <div class="row">
    <div class="col-6 col-md-4 col-lg-2">
	<% follows.each do |f| %>

	<% e = Engineer.find_by(id: f.engineer_id) %>

        <%= link_to engineer_path(e) do %>
            <%= attachment_image_tag e, :profile_image, fallback: "no_image.jpg", class: "col-12 show_image" %>
		    <div class="index-title col-12">
		      <%= e.user.name %>
		    </div>
		<% end %>
	<% end %>
    </div>
</table>
<%= paginate follows %>

<% else %>

<strong>no follow</strong>

<p>フォローしているAgentは、いません</p>

<% end %>