

<h2>ヘルプ</h2>

<%= link_to "新しくヘルプを作成する", new_help_path %>

<table class="table table-hover table-inverse">
　<thead>
	<tr>
	<th></th>
	<th>Title</th>
	<th>Opinion</th>
    </tr>
 </thead>

<tbody>

  <% @helps.each do |helped| %>

    <tr>
    	<th><%= link_to helped.language, help_path(helped) %></th>
    </tr>
    <tr>
    	<th><%= link_to helped.title, help_path(helped)%></th>
    </tr>
    <tr>
    	<th><%= link_to "詳細", help_path(helped) %></th>
    </tr>

  <% end %>

</tbody>
</table>

