
<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<h4>Contacts</h4>

<table>
	<% @contacts.each do |c| %>
		<%= link_to admins_admin_path(c) do %>
			<tr class="info_created_at">
				<div class="tag">
					<%= c.created_at.strftime('%Y/%m/%d %H:%M') %>
				</div>
				<%= c.email %>
			</tr>
		<% end %>
	<% end %>
</table>

