

<div class="toping">
	<strong>コメント</strong>
</div>

<% @comments.each do |c| %>


    <%= link_to user_path(c.help.user) do %>
    <div class="info_created_at tag">
	    <%= c.help.user.name %><br />
	</div>
	<% end %>
	<div class="max-area">
		→<%= c.comment %><br />
	</div><br />
<% end %>