

<%= form_for comment, remote: true, url:comments_path, method: :post do |f| %>
    <div class='form-group toping'>
      <%= f.text_area :comment , size: "120x2"%> <%= f.submit :送信 %>
      <%= f.hidden_field :help_id, value: help.id %>
    </div>

<% end %>