

<div class="toping">
	<strong>コメント</strong>
</div>

<% @comments.each do |c| %>


    <%= link_to user_path(c.user) do %>
    <div class="comment_name">
	    <%= c.user.name %><br />
	</div>
	<% end %>
	<div class="max-area">
		<%= simple_format(c.comment) %><br />
	</div><br />
<% end %>