

<div class="toping">
	<strong>コメント</strong>
</div>

<% @comments.each do |c| %>

	<div class="max-area">
		<% link_to user_path(c) do %>
			<%= c.user.name %>
		<% end %>
		→<%= c.comment %>
	</div>
<% end %>