/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import "bootstrap";
@import "summernote-bs4";


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


/* ------ header関連 ------ */
header {
  background-color: #232f3e;
}

.header-title {
  margin-left: 50px;
  color: white;
  font-family: 'arial black' ,sans-serif;
}
ul {
  margin-right: 50px;
}
ul > a {
  color: white;
  margin-right: 25px;
}
ul > a:hover {
  color: white;
  -webkit-transform: translateY(20px) rotate(-20deg);
  transform: rotate(3deg);
}

/* ------ footer関連 ------ */

.wrapper{
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

footer{
    width: 100%;
    background-color: #232f3e;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    position: absolute;
}


/* ------ body関連 ------ */
body {
  height: 100%;
  font-family: -apple-system,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"メイリオ",meiryo,sans-serif;
  background-color: #f1f1f1;
  word-break: normal;
  color: #4a4a4a;
}
.container {
  word-break: normal;
}


/* ------ 余白関連 ------ */

.toping {
  padding-top: 40px;
}
.bottoming {
  padding-bottom: 40px;
}
.lefting {
  padding-left: 10px;
}
.blank {
  height: 700px;
}
.gocenter {
  text-align: center;
}
.whiting{
  background-color: white;
  height: 1500px;
}

/* ------ リンク ------ */

a:hover {
  text-decoration: none;
}


/* ------ ハンバーガーアイコン ------ */

#hm-icon{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
  z-index: 2000;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 40px;
  height: 25px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 10px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
  background-color: #fff;
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
  background-color: #fff;
}


/* ------ ハンバーガーアイコンの中身 ------ */

#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 1000;
}

#sp-menu li{
  text-align: center;
  margin-bottom: 30px;
}

#sp-menu a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


/* ------ 詳細 ------ */

.showtime {
  background-color: white;
}
.show_title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 16px;
    -webkit-font-feature-settings: "palt";
    font-feature-settings: "palt";
    line-height: 1.4;
}

.show_image {
  display: flex;
    overflow: hidden;
    border-radius: .2em;
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
.show_blank {
  padding: 32px;
}

img {
    max-width: 100%;
    border-radius: 7px;
}

#list {
  background: #eee;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
    dt {
      background: #888;
      padding: 15px;
      color: #fff;
    }
    dd {
      margin: 0 10px;
      padding: 10px;
        &:not(:last-child) {
          border-bottom: 1px dotted #aaa;
        }
        &.lv_h2 {
          padding-left: 15px;
        }
        &.lv_h3 {
          padding-left: 20px;
        }
        &.lv_h4 {
          padding-left: 30px;
        }
        &.lv_h5 {
          padding-left: 35px;
        }
        &.lv_h6 {
          padding-left: 40px;
        }
        a {
          color: #333;
          text-decoration: none;
            &::before {
              content: "-";
              margin-right: 5px;
            }
        }
    }
}



/* ------ エラー・サクセスメッセージ ------ */

.alert{
  border: solid red 2px;
  color: red;
}

.flash{
  border: solid green 2px;
  color: green;
  text-align: center;
}


/* ------ プレビュー ------ */

.editor {
  width: 100%;
  display: flex;
}

textarea#edit {
    float: left;
    overflow: auto;
    width: 50%;
    margin: 0;
    border: none;
    resize: none;
    border:  solid 1px #333;
    min-height: 100vh;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    overflow: auto;
}

div#preview {
    float: right;
    overflow: auto;
    width: 50%;
    margin: 0;
    padding: 10px;
    padding-top: 5px;
    padding-left: 15px;
    width: 50%;
    background-color: white;
    border:  solid 1px #333;
    min-height: 100vh;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    overflow: auto;
}


/* ------ 検索 ------ */

.search_field {
  border-radius: 25px;
  position: relative;
  border: solid #232f3e 3px;
}
.search_field > input[type="text"] {
  border-radius: 20px;
  width: 100%;
  height: 40px;
  border:none;
  background:none;
  outline: none;
}

.s-button {
  position: absolute;
  right: 0;
}


/* ------ sidebar ------ */

.sidebar {
  padding-left: 16px;
  padding: 8px;
  width: 100%;
  color: #85837a;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  transition: background-color .08s ease-in-out;
}
.sidebar_all .sidebar:hover {
  background-color: #cfcfcf;
}

.sideright {
  padding-right: 0px;
}

.sidebar_click {
  background-color: #232f3e;
  color: white;
  padding-left: 16px;
  padding: 8px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}

.toc a {
  color: #85837a;
}

.toc a:hover {
  background-color: #cfcfcf;
}






