/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import "bootstrap";
@import "summernote-bs4";


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


/* ------ header関連 ------ */
header {
	background-color: #15053b;
}

.header-title {
  margin-left: 50px;
  color: white;
  font-family: 'arial black' ,sans-serif;
}
ul {
  margin-right: 50px;
}
ul > a {
  color: white;
  margin-right: 25px;
}
ul > a:hover {
  color: white;
  -webkit-transform: translateY(20px) rotate(-20deg);
  transform: rotate(3deg);
}

/* ------ footer関連 ------ */

.wrapper{
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

footer{
    width: 100%;
    background-color: #15053b;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    position: absolute;
}


/* ------ body関連 ------ */
body {
  height: 100%;
  font-family: -apple-system,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"メイリオ",meiryo,sans-serif;
  background-color: #f1f1f1;
  word-break: normal;
}



/* ------ 余白関連 ------ */

.toping {
  padding-top: 40px;
}
.bottoming {
  padding-bottom: 40px;
}
.lefting {
  padding-left: 10px;
}
.blank {
  height: 700px;
}
.gocenter {
  text-align: center;
}
.whiting{
  background-color: white;
  height: 1500px;
}


/* ------ TOPページ ------ */

.large-header {
   position: relative;
   width: 100%;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
}

.demo .large-header {
   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
   height: 800px;
   color: white;
}

.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
   text-transform: uppercase;
   font-size: 4.2em;
   letter-spacing: 0.1em;
}

.main-title .thin {
   font-weight: 200;
}

@media only screen and (max-width: 768px) {
   .demo .main-title {
    font-size: 3em;
   }
}

.top-message1 {
  margin: 0 auto;
  font-size: 100px;
}
.top-message1 {
  margin: 0 auto;
  font-size: 80px;
}







/* ------ ハンバーガーアイコン ------ */

#hm-icon{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 40px;
  height: 25px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 10px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
  background-color: #fff;
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
  background-color: #fff;
}


/* ------ ハンバーガーアイコンの中身 ------ */

#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}

#sp-menu li{
  text-align: center;
  margin-bottom: 30px;
}

#sp-menu a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


/* ------ 詳細 ------ */

.showtime {
  background-color: white;
}
.show_title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 16px;
    -webkit-font-feature-settings: "palt";
    font-feature-settings: "palt";
    line-height: 1.4;
}

.show_image {
  width: 100%;
  height: 60%;
}

img {
    max-width: 100%;
    border-radius: 7px;
}



/* ------ エラー・サクセスメッセージ ------ */

.alert{
  border: solid red 2px;
  color: red;
}

.flash{
  border: solid green 2px;
  color: green;
  text-align: center;
}


/* ------ プレビュー ------ */

#editor {
  width: 100%;
  display: flex;
}

.form-control {
  width: 50%;
}
.right_preview {
  padding-top: 5px;
  padding-left: 15px;
  width: 50%;
  background-color: white;
  border: solid #15053b 1px;
}

/* ------ 検索 ------ */

.search_field {
  border-radius: 25px;
  position: relative;
  border: solid #15053b 3px;
}
.search_field input[type="text"] {
  border-radius: 20px;
  width: 100%;
  height: 40px;
}

.s-button {
  position: absolute;
  right: 0;
}


/* ------ sidebar ------ */

.sidebar {
  padding-left: 16px;
  padding: 8px;
  width: 100%;
  color: #85837a;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  transition: background-color .08s ease-in-out;
}
.sidebar_all .sidebar:hover {
  background-color: #cfcfcf;
}

.sideright {
  padding-right: 0px;
}

.sidebar_click {
  background-color: #15053b;
  color: white;
  padding-left: 16px;
  padding: 8px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}

.toc a {
  color: #85837a;
}

.toc a:hover {
  background-color: #cfcfcf;
}


