/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/


.hljs {
  display: block;
  overflow-x: auto;
  padding: 1.5em;
  background: #232f3e;
  color: #e6e1dc;
}

.hljs-comment,
.hljs-quote {
  color: #bc9458;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #c26230;
}

.hljs-number{
  color: #9451a2;
}

.hljs-string,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #a5c261;
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-name {
  color: #e8bf6a;
}

.hljs-type {
  color: #da4939;
}


.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #6d9cbe;
}

.hljs-params {
  color: #d0d0ff;
}

.hljs-attribute {
  color: #00a2c5;
}

.hljs-meta {
  color: #9b859d;
}

.hljs-title,
.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #51c500;
}

.hljs-selector-id {
  color: #8b98ab;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

code {
  background-color: #eee;
  padding: .1em .4em;
  color: black;
  font-size: 100%;
}


.filename{
  display: inline-block;
  padding: 0 .25em;
  background-color: #777;
  color: white;
  width: 100%;
  padding: 0.5em;
  font-size: 11px;
}

blockquote{
  border-left: 5px solid #ddd;
  color: #777;
  padding: 1em;
  padding-right: 0;
}

