

<% if languages.exists? %>

<table class="table table-hover table-sm">

    <% languages.each do |l| %>

		<tr>
			<td><p><%= l.language %></p></td>
			<td><p><%= l.experience_year %>年</p></td>
	        <td>
	            <% l.performances.each do |pe| %>
			    <%= simple_format(pe.performance) %>
			    <% end %>
			</td>
		</tr>

	<% end %>
</table>

<% else %>

	<div class="toping">
	    <h5 class="toping gocenter">There are no skills</h5>
	</div>

<% end %>