// Place all the styles related to the users::comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.max-area {
	width: 100%;
	border: solid #009cc5 1px;
    height: auto;
    padding: 10px;
}

.comment_name {
    padding-left: 10px;
    font-size: 15px;
    color: white;
    background-color: #009cc5;
}
