// Place all the styles related to the users::drafts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.marked_tab {
	border-top: solid #f1f1f1 2px;
}

.markedtoping {
	padding-top: 50px;
}

.markdown-content > textarea {
	padding: 10px;
	width: 100%;
	border:none;
	background-color: #f1f1f1;
	outline: none;
}

.markedtoping > textarea {
	padding: 10px;
	width: 100%;
	border:none;
	background-color: #f1f1f1;
	outline: none;
}
.markedtoping > table > tbody > tr > td {
	border-top: solid #f1f1f1 2px;
	padding-top: 10px;
	width: 50%;
}

.markedtoping > table > tbody > tr {
	border-top: solid #f1f1f1 2px;
	padding-top: 10px;
	width: 100%;
}

.markedtoping > table > tbody {
	width: 100%;
}
.markedtoping > table {
	width: 100%;
}

.my-tab-buttons > span > .fa {
	background-color: #e6edf5;
	padding: 4px;
	border-radius: 5px;
}